{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}

    <head> <link rel="stylesheet" href="/static/main.css"></head>

    {% if session.user_id %}
    <h1>
      Welcome <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
    </h1>

    <h2>Quick Search</h2>
    <form action="/search" method="post">
        <p>
            <input type="text" name="search_term" placeholder="Search recipes..." maxlength="100" />
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <input type="submit" value="Search" />
        </p>
    </form>

    <h2>New Recipy</h2>

    <form action="/new_recipy" method="post">
      <p>
        <label for="content"> Recipy name: </label> <br />
        <input type="text" name="title" maxlength="50" required />
      </p>

      <p>
        <label for="content"> Recipy: </label> <br />
        <textarea name="recipy" rows="5" cols="40" maxlength="500"></textarea>
      </p>

      <p>
        <label for="content"> Cuisine: </label> <br />
        <input type="text" name="cuisine" maxlength="50" required />
      </p>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" value="Send" />
    </form>

    <ul>
      {% for recipy in recipes %}
      <li>
        <a href="/recipy/{{ recipy.id }}"> {{ recipy.title | safe }} </a> <br />
        {% if recipy.avg_rating and recipy.avg_rating > 0 %}
          Rating: 
          {% for i in range(5) %}
              {% if i < recipy.avg_rating %}
                  ★
              {% else %}
                  ☆
              {% endif %}
          {% endfor %}
          ({{ "%.1f"|format(recipy.avg_rating) }}/5) <br />
        {% endif %}
        {{ recipy.total }} comments on recipy. Newest {{ recipy.last }}
      </li>
      {% if session.user_id == recipy.user_id %}
      <a href="/remove_recipy/{{ recipy.id }}">Delete</a>
      {% endif %}

      {% endfor %}
    </ul>

    {% else %}
    <h1>Welcome guest user!</h1>
    <a href="/register"><button>Register a user</button> </a>
    <form action="/login" method="post">
      <p>
        Username: <br />
        <input type="text" name="username" />
      </p>
      <p>
        Password: <br />
        <input type="password" name="password" />
      </p>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" value="Sign in" />
    </form>

    {% endif %}
{% endblock %}
