{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}
    <form action="/create_user" method="post">
      <p>
        Username: <br />
        <input type="text" name="username" value="{{ filled.username }}" />
      </p>

      <p>
        Password: <br />
        <input type="password" name="password1" />
      </p>

      <p>
        Password again: <br />
        <input type="password" name="password2" />
      </p>

      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" value="Create User" />
    </form>
{% endblock %}
